body {
	padding-top: 50px;
	background-color: #fbfbfc;
    
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
    overflow:auto;
    padding-bottom:270px;
    min-height: 637px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
	max-width: 280px;
}*/

/* Carousel */
.carousel-caption p {
	font-size: 20px;
	line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
	width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
	display: none
  }
}
#InnerBannerContainer {
	background-color:rgba(0, 0, 0, 0.75); 
	padding:25px 0 20px; 
	border-bottom:solid #BABABA 1px;
	transition:all .3s ease;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	height:100%
}
#InnerBannerContainer:hover{
	background-color:rgba(0, 0, 0, 0.3); 
}
#HomePageBanner {
	background: url("../images/smartphone.jpg") no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 400px;
    width:100%;
}
.Posting{
	cursor:pointer;
	background-color: #fff;
	border-bottom: 2px solid #e8eaf1;
	border-radius: 5px;
	color: #000000;
	height: 120px;
}
.Posting > div{
	height:inherit;
	padding: 20px 10px
}
.postingTitle{
	font-size: 18px;
	color: #227dc4;
	font-weight: bold;
}
.PostingAdditionalDetails{
	padding: 10px 0;
}
.PostingAdditionalDetails > div > h4{
	border-bottom: 1px solid #e0e0e0;
}
.panel-collapse > .row:first-child{
	border-bottom: 1px solid #d6d4d4;
	padding: 10px 0;
	margin-bottom: 10px;
}

.panel-collapse > .row:last-child{
	border-bottom: 3px solid #28a9dd;
	padding-bottom: 25px;
}

.Details{
	background-color: #fff;
}

.HeaderBanner{
	background-color: #323232;
    width:100%;
}

.HeaderBanner p {
	color:#43cb83;
}
.HeaderBanner h1 {
	color: #fff;
}
legend{
	color:#0a62ad;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > button:hover{
	color:#fff !important;
	background-color: #43cb83 !important;
	-webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
	animation-duration: 2s;
    text-decoration:none;
}
.navbar-nav > li > a, .navbar-nav > li > button{
	transition:background-color 0.6s cubic-bezier(0.42, 1.35, 0.48, 1.38);
	color:#fff !important;
}
.navbar-inverse{
	background-color: #323232;
	border-color:  #43cb83;
}
.btn-primary, .btn-primary:focus{
	color: #ffffff;
	background-color: #43cb83;
	border-color: #43cb83;
	transition:all 0.5s ease;
	border-radius:0;
}

.btn-primary:hover{
	border-color: #43cb83;
	background-color: rgba(67, 203, 131, 0.00);
	color:  #43cb83;
}
.navbar-fixed-top {
    min-height: 60px;
}

.navbar-nav > li > a, .navbar-nav > li >button {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height:60px;
    margin:0;
    border:0;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

#footer{
    background-color:#323232;
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 350px;
    clear:both;
    padding-top:20px;
    color:#fff;
    width:100%;
}

.bottomFooter{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color:#252525;
}

.ui-menu-item{
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.ui-menu{
  margin-bottom: 20px;
  padding-left: 0; 
  width:10%;
}
.form-control{
    border-radius:0;
}
#postingSearch{
    display:inline-block;
    width:650px;
}

#postingSearch > .form-group > .form-control{
    width:100%;
    height:40px;
}
#postingSearch > .form-group{
    padding:0;
}